/*************************************
************ Global layout ***********
**************************************/

body {
	font-weight: 400;
}

@media only screen and (max-width: 980px) {
	#top-header > .container,
	#main-header > .container,
	#et_search_outer > .container,
	header .et_pb_row,
	footer .et_pb_row,
	body.single #main-content > .container,
	body.page:not(.et-tb-has-template) div.et_pb_row,
	body.page.et-tb-has-template .et-l--post div.et_pb_row,
	body.single-project div.et_pb_row,
	body.single-project div.et_pb_row.et_pb_row_fullwidth,
	body.single-post .et_pb_row,
	body .et_pb_row{
		width: 100% !important;
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	
	header .et_pb_fullwidth_menu_0_tb_header.et_pb_fullwidth_menu,
	.et_pb_row.et_pb_row_1_tb_footer.et_pb_row_4col {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	
	body.single-post .et_pb_row .et_pb_row {
		padding-left: 0rem !important;
		padding-right: 0rem !important;
	}
}

.et_pb_scroll_top.et-pb-icon {
	right: 1rem;
    	bottom: 1rem;
	border-radius: 5px;
	background: #5065a4;
}


/*****************************
*********** TOP BAR **********
******************************/

.et_pb_menu__logo-wrap img{	
	width:140px!important;
	height: 37px!important;
}

@media only screen and (max-width: 768px){
	header .et_pb_fullwidth_menu_0_tb_header.et_pb_fullwidth_menu{
		padding-left: 0!important;
		padding-right: 0!important;
	}

	header .et_pb_fullwidth_menu .et_pb_row{
		min-height: 80px;
	}
	
	.et_pb_menu__logo-wrap{
		padding-left: 1rem;
	}	
	
.et_pb_fullwidth_menu .et_mobile_nav_menu{
		margin:0 1rem!important;
	}
}

#mobile_menu1{
	max-height: 89vh;
    	overflow-y: scroll;
	overflow-x: hidden;
	padding:0!important;
}

.et_mobile_menu li a {
	padding: .75rem 1rem!important;
}

#mobile_menu1 #menu-item-11151{
	display:flex;
	background-color: rgba(0,0,0,.03);
}

#mobile_menu1 li a:hover {
	color:#5065a4!important;
	opacity:1!important;
}

#mobile_menu1 .sub-menu li a:hover {
	background:transparent!important;
}

#mobile_menu1 #menu-item-11151:after{
	content:"/";
	transform: translate(-10px,12px);
}

#mobile_menu1 #menu-item-11151 a,
#mobile_menu1 #menu-item-11152 a{
	padding-left: 0;
	padding-right: 0;
}

#mobile_menu1 #menu-item-11152{
	position: absolute;
	display:flex;
	transform: translate(101px,-53px);
}

#mobile_menu1 #menu-item-11152:before{
	position: absolute;
    	top: 10px;
    	left: -4px;
}

/* Menu Desktop */
#menu-new-site-nav-bar>li>a{
	padding-top: 24px!important;
	padding-bottom: 24px!important;
}

#menu-new-site-nav-bar>#menu-item-1516{
	padding-left:0!important;
}

#menu-new-site-nav-bar .menu-item-has-children>a:first-child {
    	padding-right: 1.03125rem;
}

#menu-new-site-nav-bar .menu-item-has-children>a:first-child:after {
	font-family: 'Font Awesome 5 Free';
    	content: "\f078";
	font-size: 12px;
}

#menu-new-site-nav-bar #menu-item-11151 a{
	padding-left: 0!important;
    	padding-right: 0!important;
    	width: 84px;
}

#menu-new-site-nav-bar #menu-item-11151:after{
	content:"/";
	position: absolute;
    	top: 50%;
	transform: translateY(-50%);
    	right: 20px;
}

#menu-new-site-nav-bar #menu-item-11152:before{
	position: absolute;
    	top: 50%;
    	transform: translate(-150%, -50%);
}

#menu-new-site-nav-bar #menu-item-11152:hover{
	color:#5065a4;
}

@media only screen and (min-width: 981px) {
	#menu-new-site-nav-bar #menu-item-11151,
	#menu-new-site-nav-bar #menu-item-11152{
		position:absolute;
		right:0;
	}

	#menu-new-site-nav-bar #menu-item-11151{
		transform: translateX(-112px);
	}
}

@media (min-width: 981px) and (max-width: 1040px) {
	.et_pb_menu__logo img{
		width: 112px!important;
		height:30px!important;
	}
	#menu-new-site-nav-bar li{
		padding-left: 4px!important;
		padding-right: 4px!important;
	}
}

/* DROP DOWN MENU */
#mobile_menu1 .menu-item-has-children{
	position: relative;
}

#mobile_menu1 .sub-menu{
	display: none!important;
}

#toggle:checked + .sub-menu{
	display: block!important;
}

input#toggle{
	position:absolute;
	width:32px;
	height:32px;
	top: 4px;
	right: 12px;
	-webkit-appearance: none;
    	-moz-appearance: none;
    	appearance: none;
    	border: none;
}

input#toggle:before{
	position:absolute;
	width:36px;
	height:36px;
	right:0;
	top:-2px;
    	font-family: ETmodules;
    	content: "3";
    	font-size: 1.25rem;
	color:#222222;
	display: flex;
	align-items: center;
	justify-content: center;
	position:absolute;
	border: 1px solid gainsboro;
    	border-radius: 3px;
}

#toggle:checked:before{
	content: "2";
}

@media only screen and (min-width: 768px){
	.menu-item-has-children button,
	.menu-item-has-children input,
	.menu-item-has-children label{ 
		display: none!important;
	}
}


/*********************************
*********** BREADCRUMBS **********
**********************************/

.breadcrumbs-control span.current, .breadcrumbs-control span.separator:nth-last-child(2), .breadcrumbs-control span[property="name"] span{
	display:none;
}

.breadcrumbs-control span a{
	color:#222222;
}

.breadcrumbs-control span a:hover{
	text-decoration:underline;
	color:#222222;
}

.breadcrumbs-control span.separator{
	display: inline-block;
    	overflow: hidden;
    	text-indent: -9999px;
}

.breadcrumbs-control span.separator:before{
    font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
	content:"/";
	text-decoration:none!important;
	text-indent: 0;
	float: left;
}

@media only screen and (max-width: 768px){
.breadcrumbs-control span[typeof="BreadcrumbList"]{
	display: block;
    	max-width: 240px;
    	white-space: nowrap;
    	overflow: hidden;
}

.breadcrumbs-control span[typeof="BreadcrumbList"]:after{
	content:". . .";
	position:absolute;
	left:248px;
}

.breadcrumbs-control span[typeof="BreadcrumbList"].active{
    	max-width: 100%;
    	white-space: inherit;
    	overflow: visible;
}
.breadcrumbs-control span[typeof="BreadcrumbList"].active:after{
	content:"";
	position:inherit;
	margin-left:auto;
}
}

/*****************************
*********** HELPERS **********
******************************/
@media (min-width: 981px) and (max-width: 1040px) {
	#breadcrumbs-control{
		padding-left:171px!important;
	}
}

.border-radius-100 img {
	border-radius: 100%;
}

.col-equaliser .et_pb_column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media only screen and (max-width: 980px) {
	.et_pb_row {
		display: flex;
		flex-wrap: wrap;
	}
	
	.et_pb_column.col-or1 {
		margin-bottom: 30px !important;
	}
	
	.et_pb_column.col-or2 {
		margin-bottom: 0;
	}
	
	.col-or1 { order: 1; }
	
	.col-or2 { order: 2; }
}

@media only screen and (max-width: 980px) {
	.hide-mobile{
		display:none;
	}
}

@media only screen and (min-width: 980px) {
	.hide-desktop{
		display:none;
	}
}



/********************************
*********** TYPOGRAPHY **********
*********************************/

h1 { font-size: 2rem !important; }

h2 { font-size: 2rem !important; }

h3 { 
	font-size: 1.25rem !important; 
	line-height: 1.6 !important;
}

h4 { 
	font-size: 1.25rem !important; 
	line-height: 1.6 !important;
}

h5 { 
	font-size: 1rem !important; 
	line-height: 1.75 !important;
}

p,
ul li,
ol li{
	font-size: 1rem !important;
	line-height: 1.75 !important;
}

p small,
.small {
  	font-size: 0.875rem !important;
  	line-height: 1.6 !important;
  	display: inline-block;
}

.et_pb_button {
	font-size: 0.875rem !important;
  	letter-spacing: 0 !important;
  	padding-top: 18px !important;
  	padding-bottom: 18px !important;
}

.et_pb_number_counter p {
  	font-size: 54px !important;
}

footer p {
	  font-size: 14px !important;
	  line-height: 1.7 !important;
}

footer .et_pb_row_4_tb_footer p {
	  font-size: 13px !important;
}

@media only screen and (min-width: 768px) {
	h1 { font-size: 3rem !important; }
	
	h3 { font-size: 1.5rem !important; }
	
	.lead p,
	p.lead {
		font-size: 1.125rem !important;
	}
	
	.et_pb_button {
		font-size: 1rem !important;
		padding-top: 14px !important;
		padding-bottom: 14px !important;
	}
}



/**************************************
*********** ANCHOR UNDERLINE **********
***************************************/

.anchor-line,
.more-link {
	position: relative;
	display: inline-block !important;
}

.anchor-line:after,
.more-link:after {
	content: "";
	width: 100%;
	height: 1px;
	background: #5065a4;
	position: absolute;
	bottom: -4px;
	left: 0;
}



/*********************************
*********** REVEAL MORE **********
**********************************/

.reveal-more-control .et_pb_module_header {
	position: relative;
	display: inline-block;
	color: #5065a4;
	cursor: pointer;
}

.reveal-more-control .et_pb_module_header:after {
	content: "";
	width: 100%;
	height: 1px;
	background: #5065a4;
	position: absolute;
	bottom: 0;
	left: 0;
}

.reveal-more-control .et_pb_module_header span:after {
	content: " more";
}

.reveal-more-control .et_pb_module_header.active span:after {
	content: " less";
}

.reveal-more-control .et_pb_blurb_description {
	max-height: 0;
	overflow: hidden;
}

.reveal-more-control .et_pb_blurb_description.show {
	max-height: 800px;
	margin-top: 1rem;
}



/***********************************
*********** TABLE CONTROL **********
************************************/

.table-control .dvmd_tm_image {
	width: 56px;
	height: 48px;
	background-size: 56px 48px !important;
	padding-top: 0 !important;
	margin: 0 auto 0.5rem auto;
}

.table-control .row-header {
	cursor: pointer;
	position: relative;
	padding-right: 1.25rem;
	font-size: 18px;
	transition: transform 0.6s ease;
}

.table-control .row-header .ei-default {
	position: absolute;
	right: 0;
	top: 6px;
}

.table-control .row-header.active {
	font-weight: 700;
}

.table-control .row-header.active .ei-default {
	transform: rotate(180deg);
}

.table-control .row-content {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.6s ease;
	font-size: 13px;
	line-height: 1.7;
	margin-top: 0.25rem;
}

.table-control .row-content.show {
	max-height: 300px;
}

.table-control .row-content a {
	text-decoration: underline;
}

@media only screen and (max-width: 767px) {
	.table-control .dvmd_table_maker_item_0 {
		width: 204px;
	}
	.table-control .dvmd_table_maker_item_1,
	.table-control .dvmd_table_maker_item_2,
	.table-control .dvmd_table_maker_item_3,
	.table-control .dvmd_table_maker_item_4,
	.table-control .dvmd_table_maker_item_5,
	.table-control .dvmd_table_maker_item_6 {
		width: 100px;
		margin-left: 105px !important;
	}
	.table-control .row-header {
		font-size: 0.85rem;
	}
	.table-control .dvmd_tm_table {
		border-radius: 6px;
	}
}



/*****************************************
*********** CONTACT FORM CONTROL **********
******************************************/

.form-control input,
.form-control select,
.form-control textarea {
	display: inline-block;
	height: 2.5rem;
	padding: 0.375rem 0.75rem;
	color: #495057;
	background-color: #f1f5f9;
	background-clip: padding-box;
	border: 1px solid #f1f5f9;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control input[type="text"],
.form-control input[type="email"],
.form-control input[type="tel"],
.form-control textarea,
.form-control select {
	width: 100%;
}

.form-control textarea {
	height: 160px !important;
}

/* Input Select */
.form-control select {
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjQuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM1MDY1QTQ7fQo8L3N0eWxlPgo8cG9seWdvbiBjbGFzcz0ic3QwIiBwb2ludHM9IjEuNCw0LjcgMi41LDMuMiAzLjUsNC43ICIvPgo8cG9seWdvbiBjbGFzcz0ic3QwIiBwb2ludHM9IjMuNSw1LjMgMi41LDYuOCAxLjQsNS4zICIvPgo8L3N2Zz4K) no-repeat 98% 50% #f1f5f9;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
	border-radius: 0;
}

/* Input Radio */
.form-control .inputs-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.form-control .hs-form-radio-display {
	display: flex;
}

.form-control .hs-form-radio-display span {
	display: flex;
	align-self: center;
}

.form-control input[type="radio"] {
	width: 20px;
	height: 20px;
	margin: 0.75rem;
}

/* Input Textarea */
.form-control textarea {
	height: inherit;
}

/* Form Spacing */
.form-control label {
	padding-bottom: 0.25rem;
	display: inline-block;
}

/* Form Footer */
.form-control .hs-richtext p{
	font-size:13px!important;
	font-size: 11px!important;
	line-height: 1.5!important;
	margin-bottom: 1.5rem;
}

.form-control .hs-richtext span {
	background: transparent !important;
}

.form-control .hs_submit {
	padding: 0 2.5rem 1rem;
}

.form-control input[type="submit"] {
	color: #ffffff !important;
	border-width: 0px !important;
	border-radius: 30px;
	font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif !important;
	font-weight: 700 !important;
	background-color: #dc2579;
	padding-top: 10px !important;
	padding-right: 30px !important;
	padding-bottom: 10px !important;
	padding-left: 30px !important;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 12px 18px -6px rgb(0 0 0 / 30%);
	font-size: 16px;
	width: 100%;
	height: inherit;
	cursor: pointer;
}

.form-control input[type="submit"]:hover {
	transform: scale(1.05);
}

.form-control .hs-error-msg {
	font-size: 11px;
	color: red;
}

/* Desktop */
@media only screen and (min-width: 767px) {
	.form-control form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 16px;
		grid-column-gap: 16px;
	}
  
	.form-control .hs_message,
	.form-control div[data-reactid=".hbspt-forms-0.1:$7"],
	.form-control .hs_submit {
		grid-column: 1 / 3;
	}
	
	.form-control .hs-dependent-field div:nth-child(2) {
		margin-top: 1rem;
	}
	
	.form-control .hs-richtext p{
		text-align: center;
		margin-bottom: 1rem;
	}
}

/* Mobile Only */
@media only screen and (max-width: 767px) {
	.form-control .field {
		margin-bottom: 1.25rem;
	}
	.form-control .field.hs_message {
		margin-bottom: .25rem;
	}
}


/**************************
*********** BLOG **********
***************************/
blockquote{
	font-style: inherit!important;
}

#sidebar {
	background-color: #fff5ee;
	padding: 1rem;
}

#sidebar #block-6 {
	margin-bottom: 0;
}

#sidebar #search-2 {
	margin-bottom: 1.5rem;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#sidebar #search-2 input[type="submit"] {
	color: #ffffff !important;
	border-width: 0px !important;
	border-radius: 30px;
	letter-spacing: 1px;
	font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif !important;
	font-weight: 700 !important;
	background-color: #dc2579 !important;
}

#sidebar #search-2 input {
	border-radius: 30px !important;
}

#sidebar #block-4 {
	margin-bottom: 0.5rem;
}

#sidebar #block-5 {
	margin-bottom: 0;
}

#sidebar #block-5 .current-cat a {
	color: #dc2579 !important;
}

#sidebar #block-5 li {
	display: none;
}

#sidebar #block-5 li.cat-item-72,
#sidebar #block-5 li.cat-item-71 {
	display: block;
}

#sidebar #block-8 {
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 1.5rem;
}

.blog-latest-articles-wrapper #sidebar #block-8 {
	display: none;
}

.more-articles .entry-featured-image-url img {
	height: 186px;
	object-fit: cover;
}

@media only screen and (min-width: 768px) {
	.more-articles article {
		min-height: 360px;
	}
  
	.latest-articles .entry-featured-image-url img {
		height: 229px;
		object-fit: cover;
	}
}

.single-post .post-container .et_pb_section {
	padding: 0 !important;
}

.single-post .post-container .et_pb_row {
	padding-top: 52px !important;
	padding-bottom: 52px !important;
}

.single-post .et_pb_image_wrap img {
	object-fit: cover;
}

@media only screen and (max-width: 980px) {
	.single-post .et_pb_row {
		display: block !important;
	}
}
